<form id="app-form">
  <div class="form-group paddings">
    <div>
      <p>Ακτίνα χάρτη (μέτρα)</p>
    </div>
    <div range-slider min="1" max="100000" model-min="min" model-max="map.circle.radius"></div>
  </div>
  <div class="form-group paddings">
    <div class="col-md-3 tweet-type">Τύπος tweet</div>
    <div class="tweet-type-wrapper col-md-3">
      <div class="well text-center">
        <div class="text-wrapper">
          <p>Πρόσφατα</p>
        </div>
        <div class="radio-wrapper ">
          <label>
            <input type="radio" value="recent" ng-model="tweetType"/>
          </label>
        </div>
      </div>
    </div>
    <div class="tweet-type-wrapper col-md-3">
      <div class="well text-center">
        <div class="text-wrapper">
          <p>Ανάμικτα</p>
        </div>
        <div class="radio-wrapper">
          <input type="radio" value="mixed" ng-model="tweetType"/>
        </div>
      </div>
    </div>
    <div class="tweet-type-wrapper col-md-3">
      <div class="well text-center">
        <div class="text-wrapper">
          <p>Δημοφιλή</p>
        </div>
        <div class="radio-wrapper">
          <input type="radio" value="popular" ng-model="tweetType"/>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group paddings">
    <div class="col-md-3">
      <div class="row">
        <p><i class="pad-tablet">#hashtag (προαιρετικό)</i>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" ng-model="hashtag"/>
    </div>
    <div class="col-md-3 submit">
      <div class="btn btn-success" ng-click="getTweets(map.circle.center.latitude, map.circle.center.longitude, map.circle.radius, tweetType, hashtag)">
        Search
      </div>
    </div>
  </div>
  <div class="form-group" id="tweets-list" ng-show="tweets.length" ng-cloak>
    <div class="col-md-12 tweet-main-wrapper" ng-repeat="tweet in tweets">
      <blockquote>
        <div class="tweet-header">
          <a class="tweet-image">
            <img ng-src="{{tweet.user.profile_image_url}}"/>
          </a>
          <ul>
            <li>
              <span class="tweet-author-name">{{tweet.user.name}}</span>
            </li>
            <li>
              <span class="tweet-author">
                <a href="https://twitter.com/{{tweet.user.screen_name}}" target="_blank">@{{tweet.user.screen_name}}</a>
              </span>
            </li>
          </ul>
        </div>
        <p class="tweet-text" ng-bind-html="tweet.text" hashtag="{{hashtag}}" hashtagify></p>
        <div class="tweet-extra">
          <div class="tweet-date">{{tweet.created_at | tdate}}</div>
        </div>
      </blockquote>
    </div>
  </div>
  <div class="form-group paddings" ng-show="!tweets.length && !firstRun" ng-cloak>
    <p>Δεν βρέθηκαν tweets για τα επιλεγμένα κριτήρια</p>
  </div>
  <div class="waiting-modal" ng-show="showModal">
    <div class="centered">
      <div>Please wait...</div>
    </div>
  </div>
  <div class="paddings creds">
    <p>created by <i>George Syrianos</i></p>
  </div>
</form>

<div class="form-group" id="map">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
    <ui-gmap-circle center="map.circle.center" stroke="map.circle.stroke" fill="map.circle.fill" radius="map.circle.radius"
                      visible="map.circle.visible" geodesic="map.circle.geodesic" editable="map.circle.editable" draggable="map.circle.draggable" clickable="map.circle.clickable" control="map.circle.control" events="map.circle.events"></ui-gmap-circle>
    <ui-gmap-markers ng-if="markerTweets.length"
            models='markerTweets'
            idKey="id"
            coords="'coordinates'"
            options="'gmapOptions'"
            doCluster="true"
            click="setSelectedTweet">
    </ui-gmap-markers>
    <ui-gmap-window
      coords="selectedTweet.coordinates"
      options="windowOptions"
      show="true"
      >
      <div>{{selectedTweet.text}}</div>
    </ui-gmap-window>
  </ui-gmap-google-map>
</div>