.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}
.red{
  color: red !important;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Custom */
/*.angular-google-map-container { height: 400px; }*/
html, body { 
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  margin: 0;
}

form#app-form {
  position: absolute;
  top: 52px;
  left: 0;
  width: 50%;
  overflow: auto;
  max-height: 100%;
  bottom: 35px;
  margin-bottom: 0;
  padding-top: 30px;
}

#map { 
  position: absolute;
  right: 0;
  top: 52px;
  max-height: 100%;
  width: 50%;
  bottom: 0;
  margin: 0;
}

.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100%;
}

.ngrs-handle.ngrs-handle-min {
    display: none;
}

.form-group {
    overflow: hidden;
}

.waiting-modal {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  bottom: 0;
  right: 0;
  background: rgba( 255, 255, 255, 1 ) 
              url('/images/loader.gif') 
              50% 50% 
              no-repeat;
}

.centered {
  display: table;
  width: 100%;
  height: 100%;
}

.centered div {
  display: table-cell;
  vertical-align: middle;
  text-indent: -9999px;
}

.ngrs-range-slider .ngrs-value.ngrs-value-max {
  display: block!important;
}

.paddings {
  padding: 0 15px;
}

a:hover, a:active {
  text-decoration: none;
}

.navbar-brand > img {
    display: block;
    max-height: 100%;
}

.creds {
  color: #000;
  font-weight: bold;
}

.white {
  background: #fff;
}

#autocomplete-places {
    padding: 13px;
    border: 0 none;
    margin: 0;
    outline: 0;
    max-width: 100%;
    min-width: 80%;
}
.ngrs-range-slider{
  border:0 none;
  background: #fafafa;
  box-shadow:none;
}
.ngrs-range-slider .ngrs-handle{
  left: 29.9993%;
    border-radius: 50% !important;
    width: 25px;
    height: 25px;
}
.ngrs-range-slider .ngrs-join{
  background:#ff5a5f;
}
.ngrs-range-slider .ngrs-runner{
  height:25px;
}

.navbar-header {
  width: 100%;
}

.navbar-default {
  background: #fff;
  padding: 0;
}

.navbar-default .navbar-brand {
    border-right: 1px solid #dce0e0;
}

.l-p-0 { 
  padding-left: 0;
  float: left;
}

body * {
  border-radius: 0!important;
}
input[type=radio]{cursor:pointer; width: 20px; height:20px;}
input[type=radio] {content:url(/images/unchecked.png)}
input[type=radio]:checked {content:url(/images/checked.png)}

input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  line-height: 1;
}
input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  line-height: 1;
}
input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  line-height: 1;
}
input[type="text"]:-moz-placeholder { /* Firefox 18- */
  line-height: 1;
}

.disabled {
  pointer-events: none;
}

.disabled > div > div {
  opacity: 0.5;
}

.well {
  border: 0 none;
}
.creds{
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fafafa;
    width: 50%;
    border-top: 1px #e7e6e6 solid;
}

.creds p {
  margin: 0;
  padding: 5px 0;
}
.tweet-author-name{
  font-weight: bold;
  padding-left: 5px;
}
.tweet-main-wrapper:nth-child(odd) blockquote{
  background:white;
}
.tweet-main-wrapper:nth-child(odd) blockquote{
  background: #d4e7ff;
}

.tweet-type {
  padding-left: 0;
  line-height: 102px;
}

.tweet-image {
  float: left;
  margin-bottom: 10px;
}

blockquote ul {
  float: left;
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 10px;
}

blockquote ul li {
  line-height: 1.2;
}

.tweet-text {
  clear: both;
}

.tweet-extra {
    font-style: italic;
    font-size: 15px;
}

.tweet-author {
  padding-left: 5px;
}

@media all and (max-width: 768px) {
  .submit {
    margin: 15px 0;
    text-align: center;
  }
  .col-md-3 {
    padding: 0;
  }
  .pad-tablet {
    padding: 0 15px;
  }
  .header {
    padding: 0;
  }
} 