<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

</head>
<body ng-app="sirianosApp" ng-controller="GeneralCtrl">
  <!-- Add your site or application content here -->
  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">
          <img src="/images/logo_calibri.png"></a>
        <div class="col-md-7 l-p-0">
          <div class="white paddings">
            <img src="images/magnifier.png" alt="Search icon">
            <input id="autocomplete-places" type="text" ng-autocomplete ng-model="autocomplete" details="autocompleteDetails"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div ng-view=""></div>
  </div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&v=3.exp&key=AIzaSyD8u9ohxVAT1qg7W3a7HCvdOnhGBOQJaeo"></script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/markerclustererplus/src/markerclusterer.js"></script>
<script src="bower_components/google-maps-utility-library-v3-markerwithlabel/dist/markerwithlabel.js"></script>
<script src="bower_components/google-maps-utility-library-v3-infobox/dist/infobox.js"></script>
<script src="bower_components/google-maps-utility-library-v3-keydragzoom/dist/keydragzoom.js"></script>
<script src="bower_components/js-rich-marker/src/richmarker.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="bower_components/query-string/query-string.js"></script>
<script src="bower_components/angular-oauth2/dist/angular-oauth2.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/jsrsasign/jsrsasign-latest-all-min.js"></script>
<script src="bower_components/oauth-ng/dist/oauth-ng.js"></script>
<script src="bower_components/angular-oauth.io/dist/angular-oauth.io.js"></script>
<script src="bower_components/oauth-js/dist/oauth.min.js"></script>
<script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
<script src="bower_components/ngAutocomplete/src/ngAutocomplete.js"></script>
<script src="bower_components/tether/dist/js/tether.js"></script>
<script src="bower_components/bootstrap-material-design/dist/bootstrap-material-design.iife.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/general.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/directives/angular-hashtagify.js"></script>
<!-- endbuild -->
</body>
</html>